@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #75A47F;
    --dark-green: #114232;
}

body {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

*::selection {
    background: var(--green);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    background: var(--green);
    color: #fff;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background: var(--dark-green);
}

.heading {
    text-align: center;
    color: var(--dark-green);
    text-transform: uppercase;
    padding: 1rem;
    font-size: 3.5rem;
}

.h1 {
    background-color: #BACD92;
}

/* to hide the search product label */
label[for="product-search"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
}

.search-form input {
    width: calc(100% - 40px);
    height: 35px;
    font-size: 15px;
    border-radius: 100px;
    background-color: #ffffff;
    width: 300px;
    margin-top: 1rem;
    border: none;
}

.search-form [type="search"] {
    padding: 10px;
}

.search-form button {
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    border: none;
    margin-right: 70px;
}

/* Visually hide the search span */
.product-search-button span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    z-index: 99;
}

.logo-container {
    display: flex;
    align-items: center;
}

/* Layout */

.container {
    width: 100%;
    background-color: #BACD92;
    height: 100%;
    margin-right: 0px;
}

/* Logo */

.logo a:hover {
    color: #fff;
}

.logo img {
    width: 105px;
    height: 50px;
    align-items: flex-start;
    mix-blend-mode: multiply;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        order: 1;
        margin-bottom: 1rem;
    }

    .cart {
        order: 2;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .search-form input {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .search-form input {
        width: 90%;
    }
}

/* header for navbar*/

.header-2 {
    background: #fff;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: relative;
}

.header-2.active {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 10000;
}

.header-2 .navbar a {
    padding: 10px 15px 10px 15px;
    font-size: 2rem;
    border-radius: .5rem;
    color: var(--dark-green);
}

.header-2 .navbar a:hover {
    background: var(--green);
    color: #fff;
}

.header-2 ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

ul li ul.dropdown li {
    display: block;
    width: 128px;
}

ul li ul.dropdown {
    width: 128px;
    position: absolute;
    align-items: center;
    background-color: #f1f1f1;
    display: none;
    z-index: 99999;
}

ul li a:hover {
    background: #7c7979;
}

ul li:hover ul.dropdown {
    display: inline;
}

.header-2 .icons a {
    font-size: 2.5rem;
    color: var(--dark-green);
    padding-left: 1rem;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.header-2 .icons a:hover {
    color: var(--green);
}

#menu-bar {
    font-size: 3rem;
    border-radius: .5rem;
    border: .1rem solid var(--dark-green);
    padding: .8rem 1.5rem;
    color: var(--dark-green);
    cursor: pointer;
    display: none;
}

/* Responsive styles */
@media (max-width: 768px) {
    #menu-bar {
        display: block;
    }

    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar.active {
        display: flex;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar ul li {
        width: 100%;
    }

    .navbar ul li a {
        padding: 10px 15px;
        width: 100%;
        text-align: left;
    }

    .navbar ul li ul.dropdown {
        position: static;
    }
}




.header-2 {
    background: #fff;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: relative;
    z-index: 2; 
}

.header-2.active {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 10000;
}

.header-2 .navbar a {
    padding: 10px 15px 10px 15px;
    font-size: 2rem;
    border-radius: .5rem;
    color: var(--dark-green);
    z-index: 2; 
}

.header-2 .icons a {
    font-size: 2.5rem;
    color: var(--dark-green);
    padding-left: 1rem;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    z-index: 2; 
}

#menu-bar {
    font-size: 3rem;
    border-radius: .5rem;
    border: .1rem solid var(--dark-green);
    padding: .8rem 1.5rem;
    color: var(--dark-green);
    cursor: pointer;
    display: none;
    z-index: 2; 
}

/* Responsive styles */
@media (max-width: 768px) {
    #menu-bar {
        display: block;
    }

    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        z-index: 2; 
    }

    .navbar.active {
        display: flex;
        z-index: 2; 
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar ul li {
        width: 100%;
    }

    .navbar ul li a {
        padding: 10px 15px;
        width: 100%;
        text-align: left;
    }

    .navbar ul li ul.dropdown {
        position: static;
    }
}

/* header ends */

/* order summary table starts */

/* order summary table ends */

/* Order Form Starts */

.orderform {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f7f7f7;
}

.order-container {
    background: linear-gradient(to right, rgb(255, 253, 253), rgb(255, 255, 255));
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-container .left,
.order-container .right {
    width: 100%;
}

.order-container h3 {
    color: #000000;
    margin-bottom: 1rem;
    font-size: 18px;
}

.order-container p {
    font-size: 14px;
}

.order-container form {
    display: flex;
    flex-direction: column;
}

.card-options {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.card-options input[type="radio"] {
    display: none;
}

.card-options label {
    margin-right: 1rem;
    height: 43px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    

}

.card-options input[type="radio"]:checked + label {
    border-color: var(--green);
}

.order-container form img {
    width: 50px;
    margin-bottom: 5px;
    height: 35px;
}

.order-container form label {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.order-container form input[type="text"],
.order-container form input[type="email"],
.order-container form input[type="number"],
.order-container form select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#zip {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

input[type="submit"] {
    padding: 1rem;
    background: #114232;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
}

input[type="submit"]:hover {
    background: #045617;
}


/* Order Form Ends */

/* Footer starts */

footer {
    background-color: #114232;
    color: #fff;
    padding: 2rem 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.footer-section  {
    flex: 1;
    min-width: 250px;
    margin: 1rem;
}

.footer-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.footer-section p {
    font-size: 1.4rem;
    line-height: 1.8;
}

.footer-section ul {
    list-style: none;
    padding: 10px;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
    display: flex;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    margin-bottom: 2%;
}


#socialflw{
    margin-left: 50%;
}


.social-icons {
    display: flex;
    gap: 1rem;
    margin-left: 50%;
}

.social-icons a {
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
}

.social-icons a:hover {
    color: var(--green);
}

.footer-bottom {
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    border-top: 1px solid #fff;
}

.footer-bottom p {
    font-size: 1.4rem;
    margin: 0;
}

#li2{
    margin-top: -10%;
}

#qlink{
    margin-left: 30%;
}

/* Footer ends */



/* media queries */

@media(max-width:1200px){

    html{
      font-size: 55%;  
    }
}

@media(max-width:991px){

    .header-1,
    .header-2{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media(max-width:768px){

    #menu-bar{
        display: initial;
    }

    .header-2 .navbar{
        position: absolute;
        top:100%; left:0; right: 0;
        background:var(--dark-green);
        padding: 1rem 2rem;
        display: none;
    }

    .header-2 .navbar.active{
        display: initial;
    }

    .header-2 .navbar a{
        font-size: 2.5rem;
        display: block;
        text-align: center;
        background: #fff;
        padding: 1rem;
        margin: 1.5rem 0;
    }

    

    .home .content h3{
        font-size: 4rem;
    }
    
}

@media(max-width:450px){

    html{
      font-size: 50%;  
    }

    .header-1{
        flex-flow: column;
    }

    .header-1 .search-box-container{
        width: 100%;
        margin-top: 2rem;
    }

    .logo{
        font-size: 4rem;
    }
}

@media (max-width: 768px) {
    .header-2 .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .header-2 .navbar.active {
        display: flex;
    }

    .header-2 .navbar .Links {
        flex-direction: column;
        width: 100%;
    }

    .header-2 .navbar .Links li {
        width: 100%;
    }

    .header-2 .navbar .Links li a {
        padding: 15px;
        font-size: 1.8rem;
    }

    .header-2 .icons {
        display: none;
    }

    #menu-bar {
        display: block;
    }
}

@media (max-width: 480px) {
    .header-2 .navbar .Links li a {
        padding: 10px;
        font-size: 1.6rem;
    }
}